<h1> Edit article </h1>
<hr>

<%= render 'form' %>

<footer class="masterform-footer fixed-bottom px-3 py-3">
    <%= link_to 'Back', articles_path, class: "btn btn-secondary btn-sm float-lg-right" %>    
</footer>