
<!-- Main jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1>Hello, Rails on Rails!</h1>
        <!-- <%= link_to 'My Blog', controller: 'articles' %> -->
    </div>
</div>
