<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <div class="navbar-toggler navbar-toggler-left">
            <a class="navbar-brand left" href="#">Ruby Blog</a>
        </div>
    </nav>
    <%= yield %>
  </body>
</html>
